
div.boxPanel {
	display: -moz-box;
	display: -webkit-box;
	border: 1px solid black;
	width: 100%;
}

div.boxPanel>div {
	-webkit-box-flex: 0; /* WebKit */		
}

div.boxPanel>div.glue {
	-webkit-box-flex: 1; /* WebKit */	
}